* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1110px;
  margin: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1110px;
  margin: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  padding: 40px 0;
  margin: auto;
}

.header__search-block {
  margin-right: auto;
  margin-left: 108px;
}

.header__logo {
  width: 177px;
}

.header__menu-btn {
  display: none;
}

.search-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 40px;
}

.search-block__input {
  width: 350px;
  background: #f5fafe;
  height: 100%;
  font-family: Mulish;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  padding-left: 23px;
  border: none;
  border-radius: 6px 0 0 6px;
}

.search-block__input:active, .search-block__input:focus {
  outline: 0;
}

.search-block__btn {
  background: #EC1F46;
  border: none;
  top: 0;
  right: 0;
  height: 100%;
  width: 65px;
  border-radius: 0 6px 6px 0;
  position: absolute;
  cursor: pointer;
}

.search-block__btn:hover {
  background: #df133a;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  width: 107px;
}

.profile__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile__name {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.nav {
  background: #0A223D;
  width: 100%;
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  padding: 30px 0;
}

.nav-link {
  color: #ffffff;
  font-family: Mulish;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1110px;
  margin: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }
  .header__search-block {
    margin-left: auto;
  }
  .header__search-block_input {
    width: 340px;
  }
  .header__logo {
    width: 132px;
  }
  .nav-link {
    font-size: 12px;
    line-height: 15px;
  }
  .nav-wrapper {
    padding: 22px 0;
  }
  .header-wrapper {
    padding: 30px 0;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
    width: 92%;
  }
  .nav {
    display: none;
  }
  .header__search-block {
    display: none;
  }
  .header__profile {
    display: none;
  }
  .menu-btn {
    padding: 0;
    width: 16px;
    height: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .menu-btn__line {
    width: 16px;
    height: 1px;
    background: #333333;
  }
}

@media (max-width: 576px) {
  .container {
    width: 90%;
  }
  .header__logo {
    width: 99px;
    height: 14px;
  }
}
/*# sourceMappingURL=style.css.map */