* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Mulish;
  color: #333333;
  background: #f5fafe;
}

.container {
  max-width: 1110px;
  margin: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  padding: 40px 0;
  margin: auto;
}

.header__search-block {
  margin-right: auto;
  margin-left: 108px;
}

.header__logo {
  width: 177px;
}

.header__menu-btn {
  display: none;
}

.form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 40px;
  border-radius: 6px;
}

.form-block__input {
  width: 350px;
  background: #f5fafe;
  height: 100%;
  font-family: Mulish;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  padding-left: 23px;
  padding-right: 75px;
  border: none;
}

.form-block__input:active, .form-block__input:focus {
  outline: 0;
}

.form-block__btn {
  background: #EC1F46;
  border: none;
  top: 0;
  right: 0;
  height: 100%;
  min-width: 65px;
  border-radius: 0 6px 6px 0;
  position: absolute;
  cursor: pointer;
}

.form-block__btn:hover {
  background: #df133a;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  width: 107px;
}

.profile__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile__name {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.nav {
  background: #0A223D;
  width: 100%;
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  padding: 30px 0;
}

.nav-link {
  color: #ffffff;
  font-family: Mulish;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumb-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  padding: 18px 0;
  margin: 0;
}

.breadcrumb-list__item {
  font-size: 10px;
  line-height: 13px;
}

.breadcrumb-list__item:not(:last-child)::after {
  content: ' / ';
  margin-right: 4px;
}

.breadcrumb-list__link {
  color: inherit;
}

.hotel {
  padding-top: 23px;
  padding-bottom: 70px;
}

.hotel-info {
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.hotel-info__name {
  margin-top: 4px;
  margin-bottom: 0;
}

.hotel-info__description {
  margin: 0;
}

.hotel-name {
  font-size: 24px;
  line-height: 30px;
}

.hotel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.hotel__offer {
  margin-left: 14px;
  margin-top: 4px;
}

.hotel-description {
  font-size: 12px;
  line-height: 15px;
}

.hotel-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.hotel-right-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.stars {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.offer {
  font-size: 10px;
  line-height: 13px;
  padding: 4px 9px;
  background: #EC1F46;
  border-radius: 4px;
  color: #ffffff;
}

.rating {
  max-width: 65px;
  min-height: 45px;
  text-align: center;
  background: #EC1F46;
  border-radius: 4px;
  color: #ffffff;
}

.rating__text {
  font-size: 8px;
  line-height: 10px;
}

.rating__counter {
  font-size: 14px;
  line-height: 18px;
}

.booking {
  font-family: Nunito;
  background: #0A223D;
  color: #ffffff;
  border-radius: 8px;
  width: 350px;
  max-height: 210px;
  padding: 28px;
}

.booking__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  margin-bottom: 9px;
}

.booking__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.booking__start {
  font-size: 10px;
  line-height: 14px;
}

.booking__pricetag {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}

.booking__per-room {
  font-size: 12px;
  line-height: 16px;
}

.booking__room {
  margin-top: 4px;
}

.booking__text {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  min-width: 80px;
}

.booking__description {
  margin-left: 9px;
}

.booking__call-center {
  margin-bottom: 17px;
  font-family: Nunito;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.booking__heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.booking__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  min-width: 76px;
  color: inherit;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.booking__num {
  margin-left: 8px;
}

.button {
  color: #ffffff;
  border-radius: 4px;
  background: #EC1F46;
  width: 100%;
  min-height: 45px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.map {
  width: 347px;
  height: 213px;
  border-radius: 10px;
  overflow: hidden;
}

.swiper {
  margin: 0;
  max-width: 728px;
  min-height: 100%;
  border-radius: 8px 8px;
  position: relative;
}

.swiper:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 98;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 122, 223, 0.48)), to(rgba(255, 255, 255, 0.128)));
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48), rgba(255, 255, 255, 0.128) 100%);
}

.slider-button {
  cursor: pointer;
  position: absolute;
  top: 0;
  z-index: 99;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider-button__next {
  right: 18px;
  background: url(../img/arrow-next.svg) no-repeat center;
  background-size: 10px;
}

.slider-button__prev {
  left: 18px;
  background: url(../img/arrow-prev.svg) no-repeat center;
  background-size: 10px;
}

.newsletter {
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../../img/newsletter_bg_parallax.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.newsletter::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background: rgba(10, 34, 61, 0.8);
}

.newsletter-wrapper {
  position: relative;
  z-index: 3;
  margin: auto;
  width: 730px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.newsletter__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.newsletter__text {
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}

.newsletter__strong {
  color: #ffffff;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  text-transform: uppercase;
}

.newsletter__subscribe {
  height: 55px;
  overflow: hidden;
}

.newsletter__subscribe .form-block__btn {
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Mulish;
  color: #333333;
  background: #f5fafe;
}

.container {
  max-width: 1110px;
  margin: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .swiper {
    width: 590px;
  }
  .swiper-slide__img {
    height: 100%;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }
  .header__search-block {
    margin-left: auto;
  }
  .header__search-block_input {
    width: 340px;
  }
  .header__logo {
    width: 132px;
  }
  .nav-link {
    font-size: 12px;
    line-height: 15px;
  }
  .nav-wrapper {
    padding: 22px 0;
  }
  .header-wrapper {
    padding: 30px 0;
  }
  .hotel-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hotel__slider {
    margin-bottom: 30px;
  }
  .hotel-right-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .booking, .map {
    width: 340px;
  }
  .swiper {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
    width: 92%;
  }
  .nav {
    display: none;
  }
  .header__search-block {
    display: none;
  }
  .header__profile {
    display: none;
  }
  .menu-btn {
    padding: 0;
    width: 16px;
    height: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .menu-btn__line {
    width: 16px;
    height: 1px;
    background: #333333;
  }
  .stars {
    -ms-flex-preferred-size: content;
        flex-basis: content;
  }
  .hotel-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hotel-name {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .hotel-info__rating {
    display: none;
  }
  .hotel-info__text {
    width: 100%;
  }
  .hotel-info__name {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .hotel__offer {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: 0;
  }
  .swiper {
    height: 350px;
  }
  .swiper-slide__img {
    width: 100%;
  }
  .hotel-right-wrapper {
    min-height: 450px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .booking {
    width: 100%;
  }
  .map {
    width: 100%;
  }
  .newsletter {
    background-position: none;
  }
  .newsletter-wrapper {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .newsletter-wrapper {
    width: 90%;
  }
  .newsletter__text {
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
  }
  .newsletter__strong {
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
  }
  .newsletter__subscribe .form-block__input {
    width: 300px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 90%;
  }
  .swiper {
    height: 250px;
  }
  .hotel__slider {
    margin-bottom: 20px;
  }
  .newsletter {
    height: 320px;
  }
  .newsletter-wrapper {
    width: 80%;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .newsletter__title {
    margin-bottom: 45px;
  }
  .newsletter__subscribe {
    width: 100%;
  }
  .newsletter__subscribe .form-block__input {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .swiper {
    height: 180px;
    width: 100%;
  }
}

@media (max-width: 280px) {
  .booking {
    padding: 18px;
  }
}
/*# sourceMappingURL=style.css.map */