@import 'settings'
@import 'variables'

@media(max-width: 1200px)
    .container
        max-width: 960px
    .swiper
        width: 590px
        &-slide
            &__img
                height: 100%
@media(max-width: 992px)
    .container
        max-width: 700px
    .header
        &__search-block
            margin-left: auto
            &_input
                width: 340px
        &__logo
            width: 132px
    .nav
        &-link
            font-size: 12px
            line-height: 15px
        &-wrapper
            padding: 22px 0
    .header
        &-wrapper
            padding: 30px 0
    .hotel
        &-grid
            flex-direction: column
        &__slider
            margin-bottom: 30px
        &-right-wrapper
            flex-direction: row
    .booking, .map
        width: 340px
    .swiper
        width: 100%
@media (max-width: 768px)
    .container
        max-width: 576px
        width: 92%
    .nav
        display: none
    .header
        &__search-block
            display: none
        &__profile
            display: none
    .menu-btn
        padding: 0
        width: 16px
        height: 11px
        +flex(space-between, center, column)
        &__line
            width: 16px
            height: 1px
            background: $font-color
    .stars
        flex-basis: content 
    .hotel
        &-wrapper
            justify-content: space-between
        &-name
            flex-basis: 100%
        &-info
            &__rating
                display: none
            &__text
                width: 100%
            &__name
                margin-top: 10px
                margin-bottom: 0
        &__offer
            order: -1
            margin-left: 0
    .swiper
        height: 350px
        &-slide
            &__img
                width: 100%
    .hotel
        &-right-wrapper
            min-height: 450px
            flex-direction: column
    .booking
        width: 100%
    .map
        width: 100%
@media (max-width: 576px)
    .container
        width: 90%
    .swiper
        height: 250px
    .hotel
        &__slider
            margin-bottom: 20px

@media (max-width: 375px)
    .swiper
        height: 180px
        width: 100%
@media (max-width: 280px) 
    .booking
        padding: 18px

        
