@import 'variables'
*
    box-sizing: border-box

.container
    max-width: 1110px
    margin: auto

a
    text-decoration: none


=flex($jc, $ai, $ff)
    display: flex
    justify-content: $jc
    align-items: $ai
    flex-flow: $ff

a:hover
    text-decoration: underline