* {
    box-sizing: border-box;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 500px;
    flex-wrap: wrap;
}

.slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    overflow: hidden;
    width: 400px;
    height: 300px;
}

.slider-item {
    width: 0;
    height: 100%;
}

/* .slider-item_hidden {
    display: none;
} */

.slider-item_primary {
    border-radius: 6px;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    animation-fill-mode:forwards
}

.left-arrow, .right-arrow {
    color: white;
    text-shadow: 2px 2px 2px black;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.slide-index {
    text-align: center;
    flex-basis: 100%;
}

@keyframes scale {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

@keyframes slide-left {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}

@keyframes slide-right {
    from {
        right: 0;
    }
    to {
        right: 100%;
    }
}